NODE_ENV=production
BACKEND_PORT=4000
LOG_LEVEL=info

POSTGRES_DB=intracorp_helpdesk
POSTGRES_USER=intracorp
POSTGRES_PASSWORD=intracorp_password
POSTGRES_PUBLIC_PORT=55432

JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=8h

NGINX_PUBLIC_PORT=8080
PUBLIC_URL=http://localhost:8080
